* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background: #282c34;
  height: 100vh; /* Changed from min-height to height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: gradientBG 15s ease infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.start-button {
  background-color: #61dafb;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;

  & > span {
    font-size: 20px;
    font-weight: bold;
  }
}

.start-button:hover {
  background-color: #fbc02d;
  transform: scale(1.05);
}

.App-gear {
  width: 100px;
  height: 100px;
  animation: rotateGear 5s linear infinite;
}

@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
